extends ../index-ext

block scripts
	script require(['modules/videos']);

block body
	h1 Videos
	//- console.log(data.videos);
	ul.row.video-l
		each video in data.videos
			li.col-md-6.col-md-10.col-xs-15.video-li
				a.thumbnail(href='/' + data.LOCALE + '/videos/' + video.id)
					div.video-li-img-wr(style='padding-bottom: ' + ((video.vimeo.height / video.vimeo.width) * 100) + '%;')
						img.video-li-img(src=video.vimeo.thumbnail_large)
						div.caption
							h2.video-li-h= video.title || video.vimeo.title
	h3 Tags
	ul
		- var counter = 0;
		each tag in data.tags
			if (++counter < 5)
				li
					a(href='/' + data.LOCALE + '/tags/' + tag.id + '/')= tag.name + ' (' + tag.count + ')'
		if (counter > 5)
			li
				a(href='/' + data.LOCALE + '/tags/') More Tags