//include ../inc/jade/mixins/mixins
doctype html
html(lang=data.LOCALE)
head
	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title= seo ? seo.title : ''
	block meta
	link(href='/static/styles/index.css', rel='stylesheet')
	block styles
body
	.content-bg
		img.content-bg-img.-active.-img-0(src="/static/images/bg/default.jpg")

	header.clearfix
		a.navbar-brand(href='/' + data.LOCALE + '/videos/')
			b Relax
				em Only

		ul.locale-l
			each locale in data.locales
				li.locale-li
					a.locale-li-link(href='/' + locale + '/', class=data.LOCALE == locale ? '-active' : '')= locale

	.container

		block body

	script(src='/static/vendor/requirejs/require.js')
	script(src='/static/js/require.js')
	script require(['main', 'bg']);
	block scripts
