extends ../index-ext

block body

	.clearfix
		span.pull-left
			span.glyphicon.glyphicon-tags
		each tag in data.tags
				a(href='/' + data.LOCALE + '/tags/' + tag.id + '/')= tag.name + ' (' + tag.count + ')'
