extends ../index-ext

block body

	.tag-l
		span.tag-l-h
			span.glyphicon.glyphicon-tags &nbsp;
		each tag in data.tags
			a.tag-li(href='/' + data.LOCALE + '/tags/' + tag.id + '/')
				= tag.name
				sup= tag.count