extends ../index-ext

block scripts
	script require(['modules/videos']);

block body

	.tag-l
		span.tag-l-h
			span.glyphicon.glyphicon-tags &nbsp;
		each tag in data.tags
			a.tag-li(href='/' + data.LOCALE + '/tags/' + tag.id + '/', class=(data.item.id === tag.id ? '-active' : ''))
				= tag.name
				sup= tag.count
	br
	br
	ul.row.video-l.text-left
		each video in data.videos
			if (data._.contains(video.tags, data.item.name))
				li.col-md-6.col-md-10.col-xs-15.video-li
					a.thumbnail(href='/' + data.LOCALE + '/videos/' + video.id)
						div.video-li-img-wr(style='padding-bottom: ' + ((video.vimeo.height / video.vimeo.width) * 100) + '%;')
							img.video-li-img(src=video.vimeo.thumbnail_large)
							div.caption
								h2.video-li-h= video.title || video.vimeo.title
